<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novellumacademy</title>
    <%- include('partials/style') %>
    <link rel="stylesheet" type="text/css" href="www/styles/bootstrap4/bootstrap.min.css">
<link href="www/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/animate.css">
<link href="www/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="www/styles/blog_single.css">
<link rel="stylesheet" type="text/css" href="www/styles/blog_single_responsive.css">
</head>
<body>
    <div class="super_container">
    <%- include('partials/header') %>
    <div class="home mt-5">
		
	</div>


    <div class="blog_container mt-5 pt-5">
		<div class="container">
			<div class="row blog_content_row">
				<div class="col">
					<div class="blog_content">
						<div class="blog_post_title_container">
							<div class="blog_category"><a href="#">travel</a></div>
							<div class="blog_title">Flamin' Hot Indulgence</div>
						</div>
						<div class="blog_text">
							<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula, aliquam neque euismod, porttitor ex. Nam consequat iaculis maximus. Suspendisse potenti. In rutrum justo et diam egestas luctus. Mauris eu neque eget odio suscipit eleifend. Sed imperdiet ante quis felis tempor hendrerit. Curabitur eget fermentum ipsum. Sed efficitur eget velit eu vulputate. Duis tincidunt quam in erat dignissim consequat. Praesent tempus leo eu nisl fringilla interdum. Maecenas rutrum libero eget lacus bibendum tristique. Curabitur at felis lobortis, mollis ante ut, tempus elit. Morbi justo nisi, posuere sed augue id, iaculis tincidunt mi. Pellentesque sed dolor sed dui congue tempus a et felis.</p>
							<div class="blog_quote"><span></span>I’m sure Gwyneth Paltrow and her Goop disciples would chastise me for my enthusiastic consumption of carbohydrates, but bread is god’s nectar witched into dough, and I will not forsake it.</div>
							<p>And as for “junk food,” that obscure category, I don’t gravitate toward much of it. When I was growing up, my mother would anoint our school lunches with Little Debbie treats — Oatmeal Creme (sic) Pies, Swiss Rolls — and our pantry generally housed a bag or two of Utz potato chips, but the gastronomical larks stopped there. My sisters and I drank milk with dinner every night. We took vitamins as directed. We were flush with privilege: Our parents possessed the means to feed us bountifully, and our mother dedicated herself to our welfare; she cooked for us most every night. My indulgences tend to correspond with the felicities enabled by an upper-middle-class socioeconomic background: cheeses from specialty stores, crème brûlée at a well-reviewed French restaurant, tea cookies from Whole Foods. In every culinary choice, my coddled upbringing rears its cushioned head.</p>
							<figure class="blog_post_image">
								<img src="www/images/blog_post_image.jpg" alt="">
								<figcaption>Lorem Ipsum Dolor Sit Amet</figcaption>
							</figure>
							<p>I can’t argue for the virtues of the Flamin’ Hot Cheetos: None exist. They’re amoral and fundamentally neutral, no more capable of assuaging my grief than the empty husk of “thoughts and prayers.” But not everything requires meaning — not everything needs to be something else. When I tuck away a bag of Flamin’ Hot Cheetos, I do it because I like them, because they’re nothing more than what they reveal themselves to be. That’s enough.</p>
						</div>
						<div class="blog_tags">
							<ul>
								<li><a href="#">Manual</a></li>
								<li><a href="#">Liberty</a></li>
								<li><a href="#">Interpretation</a></li>
								<li><a href="#">Recommendations</a></li>
							</ul>
						</div>
						<div class="blog_post_footer d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
							<div class="blog_post_author d-flex flex-row align-items-center justify-content-start">
								<div class="author_image"><div><img src="www/images/blog_author.jpg" alt=""></div></div>
								<div class="author_info">
									<ul>
										<li><a href="#">Sarah Parker</a></li>
										<li>Sep 29, 2017 at 9:48 am</li>
									</ul>
								</div>
							</div>
							<div class="blog_post_share ml-lg-auto">
								<span>share</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Similar Posts -->

			<div class="row similar_posts">

				<!-- Blog Post -->
				<div class="col-lg-6">
					<div class="blog_post">
						<div class="blog_image" style="background-image:url(www/images/blog_7.jpg)"></div>
						<div class="blog_title_container">
							<div class="blog_post_category"><a href="#">travel</a></div>
							<div class="blog_post_title"><a href="/blogOne">Design Better Forms</a></div>
							<div class="blog_post_text">
								<p>Whether it is a signup flow, a multi-view stepper, or a monotonous data entry interface, forms are one of the most important components of digital product design.</p>
							</div>
							<div class="read_more"><a href="/blogOne">Read More <img src="www/images/right.png" alt=""></a></div>
						</div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-lg-6">
					<div class="blog_post">
						<div class="blog_image" style="background-image:url(www/images/blog_8.jpg)"></div>
						<div class="blog_title_container">
							<div class="blog_post_category"><a href="#">travel</a></div>
							<div class="blog_post_title"><a href="/blogOne">Art Helps Healing</a></div>
							<div class="blog_post_text">
								<p>Whether it is a signup flow, a multi-view stepper, or a monotonous data entry interface, forms are one of the most important components of digital product design.</p>
							</div>
							<div class="read_more"><a href="/blogOne">Read More <img src="www/images/right.png" alt=""></a></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row register">
				<div class="col-lg-6 offset-lg-3">
					<div class="register_form_title">Post a Comment</div>
					<div class="register_form_container">
						<form action="#" id="register_form" class="register_form">
							<div class="row register_row">
								<div class="col-lg-6 register_col">
									<input type="text" class="form_input" placeholder="Name" required="required">
								</div>
								<div class="col-lg-6 register_col">
									<input type="email" class="form_input" placeholder="Email" required="required">
								</div>
								<div class="col-lg-12">
									<textarea class="form_input form_text" placeholder="Comment" required="required"></textarea>
								</div>
								<div class="col">
									<button type="submit" class="form_button trans_200">post a comment</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="row comments">
				<div class="col-lg-6 offset-lg-3">
					<div class="comments_title">Comments <span>(12)</span></div>
					<div class="comments_container">
						<ul class="comments_list">
							<li class="comment">
								<div class="comment_content">
									<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
										<div class="comment_image"><div><img src="www/images/blog_author.jpg" alt=""></div></div>
										<div class="comment_info">
											<div class="comment_name"><a href="#">Sarah Parker</a></div>
											<div class="comment_time">Sep 29, 2017 at 9:48 am</div>
										</div>
									</div>
									<div class="comment_text">
										<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum.</p>
									</div>
								</div>
								<ul>
									<li class="comment">
										<div class="comment_content">
											<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
												<div class="comment_image"><div><img src="www/images/blog_author.jpg" alt=""></div></div>
												<div class="comment_info">
													<div class="comment_name"><a href="#">Sarah Parker</a></div>
													<div class="comment_time">Sep 29, 2017 at 9:48 am</div>
												</div>
											</div>
											<div class="comment_text">
												<p>Sed imperdiet ante quis felis tempor hendrerit.</p>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="comment">
								<div class="comment_content">
									<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
										<div class="comment_image"><div><img src="www/images/blog_author.jpg" alt=""></div></div>
										<div class="comment_info">
											<div class="comment_name"><a href="#">Sarah Parker</a></div>
											<div class="comment_time">Sep 29, 2017 at 9:48 am</div>
										</div>
									</div>
									<div class="comment_text">
										<p>Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum, turpis ipsum.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="comments_more">
						<div class="comments_more_button"><a href="#">load more</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <%- include('partials/footer') %>
</div>
</body>
<%- include('partials/script') %>
<script src="www/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="www/plugins/parallax-js-master/parallax.min.js"></script>
<script src="www/js/blog_single.js"></script>
</html>