<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novellumacademy</title>
    <%- include('partials/style') %>
    <link rel="stylesheet" type="text/css" href="www/styles/instructors.css">
<link rel="stylesheet" type="text/css" href="www/styles/instructors_responsive.css">
<link rel="stylesheet" type="text/css" href="www/styles/bootstrap4/bootstrap.min.css">
<link href="www/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="www/plugins/OwlCarousel2-2.2.1/animate.css">
<link href="www/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="www/styles/instructors.css">
<link rel="stylesheet" type="text/css" href="www/styles/instructors_responsive.css">
</head>
<body>
    <div class="super_container">
    <%- include('partials/header') %>

    <div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Upcoming Events</h2>
				</div>
			</div>
			<div class="row events_row">
				
				<!-- Event -->
				<div class="col-lg-4 event_col">
					<div class="event">
						<div class="event_image"><img src="www/images/event_1.jpg" alt=""></div>
						<div class="event_date d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">26</div>
							<div class="event_month">aug</div>
						</div>
						<div class="event_body d-flex flex-row align-items-center justify-content-start">
							<div class="event_title"><a href="#">Networking Day</a></div>
							<div class="event_tag ml-auto">Free</div>
						</div>
					</div>
				</div>

				<!-- Event -->
				<div class="col-lg-4 event_col">
					<div class="event">
						<div class="event_image"><img src="www/images/event_2.jpg" alt=""></div>
						<div class="event_date d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">26</div>
							<div class="event_month">aug</div>
						</div>
						<div class="event_body d-flex flex-row align-items-center justify-content-start">
							<div class="event_title"><a href="#">Networking Day</a></div>
							<div class="event_tag ml-auto">Free</div>
						</div>
					</div>
				</div>

				<!-- Event -->
				<div class="col-lg-4 event_col">
					<div class="event">
						<div class="event_image"><img src="www/images/event_3.jpg" alt=""></div>
						<div class="event_date d-flex flex-column align-items-center justify-content-center">
							<div class="event_day">26</div>
							<div class="event_month">aug</div>
						</div>
						<div class="event_body d-flex flex-row align-items-center justify-content-start">
							<div class="event_title"><a href="#">Networking Day</a></div>
							<div class="event_tag ml-auto">Free</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

    <div class="instructors">
		<div class="instructors_background" style="background-image:url(www/images/instructors_background.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">The Best Tutors in Town</h2>
				</div>
			</div>
			<div class="row instructors_row">

				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="www/images/instructor_1.jpg" alt=""></div>
						</div>
						<div class="instructor_name"><a href="/instructors">Sarah Parker</a></div>
						<div class="instructor_title">Teacher</div>
						<div class="instructor_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="www/images/instructor_2.jpg" alt=""></div>
						</div>
						<div class="instructor_name"><a href="/instructors">Sarah Parker</a></div>
						<div class="instructor_title">Teacher</div>
						<div class="instructor_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="www/images/instructor_3.jpg" alt=""></div>
						</div>
						<div class="instructor_name"><a href="/instructors">Sarah Parker</a></div>
						<div class="instructor_title">Teacher</div>
						<div class="instructor_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


    <div class="teachers">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Top Teachers in Every Field</h2>
				</div>
			</div>
			<div class="row teachers_row">

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_4.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_5.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_6.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_7.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_8.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_9.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_10.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_11.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

				<!-- Instructor -->
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="www/images/instructor_12.jpg" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="/instructors">Sarah Parker</a></div>
							<div class="teacher_title">Teacher</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
    <%- include('partials/footer') %>
</div>
</body>
<%- include('partials/script') %>
<script src="www/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="www/plugins/parallax-js-master/parallax.min.js"></script>
<script src="www/plugins/progressbar/progressbar.min.js"></script>
<script src="www/plugins/video-js/video.min.js"></script>
<script src="www/plugins/video-js/Youtube.min.js"></script>
<script src="www/js/instructors.js"></script>
</html>