<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/67ec70fe67dd3a1906a8b4ff/1inppioi3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <div>
        <a class="btn-whats pulse" href="https://api.whatsapp.com/send?phone=905342039298&text=deneme mesajı gönder" target="_blank">
          <i class="fa fa-whatsapp"></i></a>
      </div>
      <style>
        .pulse i {
  position: relative;
  z-index: 20;
  top: 16px;
  font-size: 30px;
}
.pulse {
  position: fixed;
  cursor: pointer;
  display: block;
  width: 60px !important;
  height: 60px;
  bottom: 18px; /* WhatsApp butonunu yukarı kaydır */
  right: 100px;
  background-color: rgba(0, 200, 0, 1);
  color: white;
  border-radius: 50px;
  text-align: center;
  transition-duration: 0.5s;
  animation: pulse-btn 3s infinite;
  z-index: 9000;
}

.pulse:hover {
  background-color: rgba(0, 150, 0, 1);
  color: white;
}

.my-float {
  margin-top: 15px;
}

@-webkit-keyframes pulse-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 200, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
  }
}

.pulse a {
  color: #fff;
}

      </style>
    <!--End of Tawk.to Script-->
<!-- Header -->
<header class="header">		
    <!-- Top Bar -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <div class="top_bar_phone"><span class="top_bar_title">phone:</span>+44 300 303 0266</div>
                            <div class="top_bar_right ml-auto">

                                <!-- Language -->
                                <div class="top_bar_lang">
                                    <span class="top_bar_title">site language:</span>
                                    <ul class="lang_list">
                                        <li class="hassubs">
                                            <a href="#">English<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="#">Ukrainian</a></li>
                                                <li><a href="#">Japanese</a></li>
                                                <li><a href="#">Lithuanian</a></li>
                                                <li><a href="#">Swedish</a></li>
                                                <li><a href="#">Italian</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Social -->
                                <div class="top_bar_social">
                                    <span class="top_bar_title social_title">follow us</span>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>				
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container mr-auto">
                            <a href="/home">
                                <div class="logo_text">Novellumacademy</div>
                            </a>
                        </div>
                        <nav class="main_nav_contaner">
                            <ul class="main_nav">
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/courses">Programs & Courses</a></li>
                                <li><a href="/instructors">Services</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                
                            </ul>
                        </nav>
                        <div class="header_content_right ml-auto text-right">
                            <div class="header_search">
                                <div class="search_form_container">
                                    <form action="#" id="search_form" class="search_form trans_400">
                                        <input type="search" class="header_search_input trans_400" placeholder="Type for Search" required="required">
                                        <div class="search_button">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Hamburger -->

                            <div class="user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></div>
                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

 <!-- Menu -->

 <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="search">
        <form action="#" class="header_search_form menu_mm">
            <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
            <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="/home">Home</a></li>
            <li class="menu_mm"><a href="/courses">Programs & Courses</a></li>
            <li class="menu_mm"><a href="/instructors">Services</a></li>
            <li class="menu_mm"><a href="/about">About Us</a></li>
            <li class="menu_mm"><a href="/blog">Blog</a></li>
            <li class="menu_mm"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="menu_extra">
        <div class="menu_phone"><span class="menu_title">phone:</span>+44 300 303 0266</div>
        <div class="menu_social">
            <span class="menu_title">follow us</span>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>